<template>
    <div class="pad" :data-bg="color">
        <pads-colors-select :bus="bus"></pads-colors-select>
        <pads-mode-select></pads-mode-select>
        <pads-group-select></pads-group-select>
    </div>
</template>

<script>
    export default {
        name: "Pad",
        props: ['colors', 'pads', 'pad', 'modes', 'cut_groups', 'bus'],
        data() {
            return {
                color: 'orange'
            }
        },
        created() {
            if(this.pads != null){
                this.color = this.pads[this.pad - 1].color;
            }
            this.$watch('color', (value) => {
                this.$children[0].current_color = value;
            });
        }
    }
</script>