<template>
    <div class="pads-block">
        <select class="form-control" v-model="global_color">
            <option value="custom">Custom color</option>
            <option v-for="(color) in colors" :value="color" v-text="color"></option>
        </select>
        <div class="text-center mt-3 pads-wrapper">
            <div class="pad-wrapper" v-for="pad in pads_amount">
                <pad
                        :colors="colors"
                        :pads="pads"
                        :pad="pad"
                        :modes="modes"
                        :cut_groups="cut_groups"
                        :bus="bus"
                ></pad>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "PadsBlock",
        props: ['colors', 'pads_amount', 'pads', 'modes', 'cut_groups'],
        data() {
            return {
                global_color: 'custom',
                bus: new Vue()
            }
        },
        methods: {
            changeGlobalColor() {
                for (let i = 0; i < this.$children.length; i++) {
                    let child = this.$children[i];
                    child.color = this.global_color;
                }
            },
            figureOutColors() {
                let all_same_color = true;
                let color = null;
                for (let i = 0; i < this.$children.length; i++) {
                    let child = this.$children[i];
                    if (color == null) color = child.color;
                    all_same_color = (child.color === color);
                    if (!all_same_color) break;
                }
                if (all_same_color) {
                    this.global_color = color;
                } else {
                    this.global_color = 'custom';
                }
            }
        },
        created() {
            this.bus.$on('pad_color_changed', () => {
                this.figureOutColors();
            });
            this.$watch('global_color', (value) => {
                if (value === 'custom') return;
                this.changeGlobalColor();
            });
        },
        mounted(){
            this.figureOutColors();
        }
    }
</script>