<template>
    <select :name="'cut_groups['+pad+']'" class="form-control">
        <option v-for="(cut_group) in cut_groups" :value="cut_group" v-text="cutGroupValue(cut_group)" v-bind="options(cut_group)"></option>
    </select>
</template>

<script>
    export default {
        name: "PadsGroupSelect",
        data() {
            return {
                pad: null,
                pads: {},
                cut_groups: []
            }
        },
        created() {
            this.pads = this.$parent.pads;
            this.cut_groups = this.$parent.cut_groups;
            this.pad = this.$parent.pad;
        },
        methods: {
            options(cut_group) {
                if (this.pads && this.pads[this.pad - 1]['cut_group'] === cut_group) {
                    return {selected: 'selected'}
                }
                return {};
            },
            cutGroupValue(cut_group) {
                if (cut_group === -1) return 'No group';
                return `Group ${cut_group}`;
            }
        }
    }
</script>

<style scoped>

</style>