<template>
    <select :name="'colors['+pad+']'" class="form-control" @change="change" v-model="current_color">
        <option v-for="(color) in colors" :value="color" v-text="color"></option>
    </select>
</template>

<script>
    export default {
        name: "PadsColorsSelect",
        props: ['bus'],
        data() {
            return {
                colors: [],
                pad: null,
                pads: {},
                current_color: null
            }
        },
        created() {
            this.pads = this.$parent.pads;
            this.colors = this.$parent.colors;
            this.pad = this.$parent.pad;
            if (this.pads != null) {
                this.current_color = this.pads[this.pad - 1].color;
            } else {
                this.current_color = 'orange';
            }
        },
        methods: {
            change() {
                this.$parent.color = this.$el.value;
                this.bus.$emit('pad_color_changed', this.$el.value);
            }
        }
    }
</script>

<style>

</style>