<template>
    <select :name="'modes['+pad+']'" class="form-control">
        <option v-for="(mode) in modes" :value="mode" v-text="mode" v-bind="options(mode)"></option>
    </select>
</template>

<script>
    export default {
        name: "PadsModeSelect",
        data() {
            return {
                modes: [],
                pad: null,
                pads: {}
            }
        },
        created() {
            this.pads = this.$parent.pads;
            this.modes = this.$parent.modes;
            this.pad = this.$parent.pad;
        },
        methods: {
            options(mode) {
                if (this.pads && this.pads[this.pad - 1]['mode'] === mode) {
                    return {selected: 'selected'}
                }
                return {};
            }
        }
    }
</script>

<style scoped>

</style>