<template>
    <div>
        <b-table :items="items" :fields="fields" :per-page="perPage" :current-page="currentPage">
            <template slot="editAction" slot-scope="row">
                <span @click.stop="userModalShow(row.item, row.index)"><font-awesome-icon icon="edit"/></span>
            </template>
        </b-table>
        <div>
            <b-pagination :total-rows="totalRows()" :per-page="perPage" v-model="currentPage" class="my-0"/>
        </div>
        <b-modal id="player-view-modal" :title="modal.email" ok-title="Close" :ok-only="okOnly">
            <table>
                <tr>
                    <td>Created on</td>
                    <td>{{modal.created}}</td>
                </tr>
                <tr>
                    <td>Rights</td>
                    <td>{{modal.rights}}</td>
                </tr>
                <tr>
                    <td>Hash</td>
                    <td>{{modal.hash}}</td>
                </tr>
                <tr>
                    <td>Coin amount</td>
                    <td>{{modal.coin_amount}}</td>
                </tr>
                <tr>
                    <td>Add coins</td>
                    <td>
                        <form class="d-flex" @submit.prevent="addCoins()">
                            <input type="number" class="form-control" v-model="coin_amount" required>
                            <button type="submit" class="btn btn-sm btn-success ml-2">ADD</button>
                        </form>
                    </td>
                </tr>
            </table>
        </b-modal>
    </div>
</template>

<script>
    import bTable from 'bootstrap-vue/es/components/table/table';
    import bPagination from 'bootstrap-vue/es/components/pagination/pagination';
    import bModal from 'bootstrap-vue/es/components/modal/modal';

    export default {
        name: "PlayersTable",
        props: ['players'],
        components: {bTable, bPagination, bModal},
        data() {
            return {
                items: [],
                perPage: 25,
                currentPage: 1,
                pageOptions: [25, 50, 100],
                modal: {},
                coin_amount: 0,
                fields: [
                    {key: 'id'},
                    {key: 'email'},
                    {key: 'coin_amount'},
                    {key: 'created'},
                    {key: 'last_login'},
                    {key: 'editAction', label: 'Edit', 'class': 'action-column'},
                ],
                okOnly: true
            }
        },
        methods: {
            addCoins() {
                $.ajax({
                    method: 'PATCH',
                    url: `/players/${this.modal.id}/add_coins`,
                    data: {coin_amount: this.coin_amount},
                    beforeSend: function (request) {
                        request.setRequestHeader('X-CSRF-TOKEN', window.csrfToken);
                    }
                }).done(() => {
                    this.modal.coin_amount += parseInt(this.coin_amount);
                    this.items[this.modal.index].coin_amount = this.modal.coin_amount;
                }).fail(() => {
                    console.error('Failed preset removal');
                });
            },
            totalRows() {
                return this.items.length
            },
            userModalShow(user, index) {
                this.modal = user;
                this.modal.index = index;
                this.coin_amount = 0;
                this.$root.$emit('bv::show::modal', 'player-view-modal');
            }
        },
        created() {
            this.items = this.players;
        }
    }
</script>