<template>
    <input type="text" class="form-control" name="id" maxlength="50" id="preset-name" required v-model="preset_name">
</template>

<script>
    export default {
        name: "PresetName",
        props: ['old'],
        data() {
            return {
                preset_name: ''
            };
        },
        created() {
            if (this.old.id) this.preset_name = this.old.id;
            this.$root.$on('presetTitleInput', this.updatePresetName);
        },
        methods: {
            updatePresetName($event) {
                this.preset_name = this.transformName($event.target.value);
            },
            transformName(name) {
                return name.toLowerCase().replace(new RegExp(' ', 'g'), '_').replace(new RegExp('[^\\w]+', 'g'), '');
            }
        }
    }
</script>

<style scoped>

</style>