<template>
    <div>
        <b-table :items="items" :fields="fields">
            <template slot="editAction" slot-scope="row">
                <a :href="editURL(row.item)" title="Edit preset">
                    <font-awesome-icon icon="edit"/>
                </a>
            </template>
            <template slot="tutorialAction" slot-scope="row">
                <a :href="tutorialURL(row.item)" title="Go to tutorial">
                    <font-awesome-icon icon="th"/>
                </a>
            </template>
            <template slot="deleteAction" slot-scope="row">
                <span title="Delete preset"><font-awesome-icon icon="trash-alt" @click.stop="confirmDelete(row.item)"/></span>
            </template>
        </b-table>
        <b-modal v-b-modal.modalsm id="remove-confirmation-modal" :title="modal.title" @ok="handleOk" @cancel="handleCancel" @hide="handleCancel">
            <div>{{modal.body}}</div>
        </b-modal>
    </div>
</template>

<script>
    import bTable from 'bootstrap-vue/es/components/table/table';
    import bModal from 'bootstrap-vue/es/components/modal/modal';
    import bModalDirective from 'bootstrap-vue/es/directives/modal/modal'

    export default {
        name: "PresetsTable",
        props: ['presets'],
        components: {'b-table': bTable, 'b-modal': bModal},
        directives: {'b-modal': bModalDirective},
        data() {
            return {
                colors: [],
                pads_amount: 12,
                pads: [],
                modes: [],
                cut_groups: [],
                items: [],
                fields: [
                    {key: 'name', label: 'Title'},
                    {key: 'id', label: 'Name'},
                    {key: 'release_version'},
                    {key: 'editAction', label: '', 'class': 'action-column'},
                    {key: 'tutorialAction', label: '', 'class': 'action-column'},
                    {key: 'deleteAction', label: '', 'class': 'action-column'}
                ],
                preset_idx_to_remove: null,
                modal: {title: '', body: ''}
            }
        },
        created() {
            this.items = this.presets;
        },
        methods: {
            handleOk() {
                if (this.preset_idx_to_remove) this.deletePreset(this.preset_idx_to_remove);
            },
            handleCancel() {
                this.preset_idx_to_remove = null;
            },
            deletePreset(preset_idx) {
                $.ajax({
                    method: 'DELETE',
                    url: `/preset/delete/${preset_idx}`,
                    beforeSend: function (request) {
                        request.setRequestHeader('X-CSRF-TOKEN', window.csrfToken);
                    }
                }).done(() => {
                    this.items = this.items.filter((row) => {
                        return row.idx !== preset_idx;
                    });
                }).fail(() => {
                    console.error('Failed preset removal');
                });
            },
            confirmDelete(preset) {
                this.preset_idx_to_remove = preset.idx;
                this.modal.title = 'Remove ?';
                this.modal.body = `Remove ${preset.name} preset ?`;
                this.$root.$emit('bv::show::modal', 'remove-confirmation-modal');
            },
            tutorialURL(item) {
                return `/tutorial/${item.idx}`;
            },
            editURL(item) {
                return `/preset/update/${item.idx}`;
            }
        }
    }
</script>