<template>
    <div>
        <label for="steps-list" class="tutorial-control__label">Steps</label>
        <div class="form-group">
            <select name=""
                    id="steps-list"
                    class="tutorial-control__select tutorial-control__steps form-control"
                    @change.prevent="stepsAmountChanged"
                    v-model="steps_amount">
                <option v-for="(step) in steps_list" v-bind:value="step" v-text="step"></option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        name: "StepSelect",
        props: ['steps'],
        computed: {
            steps_amount: {
                get() {
                    return this.$store.getters.tutorial.sequence.length;
                },
                set(value) {
                    this.$store.commit('setStepsAmount', value);
                }
            },
        },
        data() {
            return {
                steps_list: []
            };
        },
        created() {
            for (let i = this.steps.min; i <= this.steps.max; i += this.steps.min) {
                this.steps_list.push(i);
            }
        },
        methods: {
            stepsAmountChanged() {
                // this.$root.$emit('tutorial.steps_amount_changed', this.steps_amount);
            }
        }

    }
</script>