<template>
    <div class="track-table-wrapper" @scroll="trackTableScroll">
        <table class="hidden-table" :class="_hidden_table_class">
            <tr>
                <th></th>
            </tr>
            <tr v-for="(row_id, row_index) in rows_amount">
                <th :class="_is_highlighted_row[row_id]">{{row_id}}</th>
            </tr>
        </table>
        <table class="track-table" @mouseleave="tableMouseOut">
            <tr>
                <th></th>
                <th v-for="step_id in steps_amount" v-text="step_id" :class="_is_highlighted_step[step_id]"></th>
            </tr>
            <tr v-for="(row_id, row_index) in rows_amount">
                <th :class="_is_highlighted_row[row_id]">{{row_id}}</th>
                <td v-for="(step, step_index) in sequence"
                    @mousedown="mouseDown($event, row_id, step_index)"
                    @mouseup="mouseUp()"
                    @contextmenu.prevent.stop
                    @mouseenter="mouseEnter(row_id, step_index)"
                    @mouseover="mouseOver(row_index, step_index)"
                >
                    <div class="pad" v-if="sequence[step_index].indexOf(row_id -1) !== -1"></div>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: "TrackTable",
        props: ['initial_steps_amount'],
        data() {
            return {
                items: [],
                rows_amount: 12,
                // sequence: [],
                $table: null,
                td_selector: '.track-table td',
                mouse_button_pressed: null,
                clicked: false,
                highlighted: {
                    left: null,
                    top: null
                },
                left_offset: 0,
                $hidden_table: null,
                sounds: [],
                sounds_url: '/storage/sounds/no_play'
            };
        },
        computed: {
            steps_amount(){
                return this.$store.getters.tutorial.sequence.length
            },
            sequence: {
                get() {
                    return this.$store.getters.tutorial.sequence;
                },
                set(value) {
                    this.$store.commit('updatePresetSequence', value);
                }
            },
            _is_highlighted_row() {
                return {[this.highlighted.left]: 'highlighted'};
            },
            _is_highlighted_step() {
                return {[this.highlighted.top]: 'highlighted'};
            },
            _left_offset_style() {
                return this.left_offset > 0 ? `left:${this.left_offset}px` : '';
            },
            _hidden_table_class() {
                return this.left_offset > 0 ? '' : 'd-none';
            },
            bpm() {
                return this.$root.$refs.tutorial_top_controls.bpm;
            }
        },
        created() {
            this.$root.$on('tutorial.clear', () => {
                this.clearSequence();
            });
            this.$root.$on('tutorial.save', () => {
                this.updateTutorial();
            });
            this.$root.$on('tutorial.reload', () => {
                this.reloadTutorial();
            });
            this.$root.$on('tutorial.play', () => {
                var file_indexes_to_play = [];
                var interval = (60 / (this.bpm * 4)) * 1000;
                console.log(interval);
            });
            // this.$root.$on('tutorial.stop', () => {
            //
            // });
        },
        mounted() {
            this.$table = $(this.$el).find('.track-table');
            this.$hidden_table = $('.hidden-table');
        },
        methods: {
            reloadTutorial() {
                $.ajax({
                    method: 'GET',
                    url: window.location.pathname,
                    beforeSend: function (request) {
                        request.setRequestHeader('X-CSRF-TOKEN', window.csrfToken);
                    },
                    dataType: 'json'
                }).done((response) => {
                   // TODO: change in vuex
                }).fail(() => {
                    console.log('failed');
                });
            },
            updateTutorial() {
                $.ajax({
                    method: 'PATCH',
                    data: {
                        bpm: this.bpm,
                        sequence: JSON.stringify(this.sequence)
                    },
                    url: window.location.pathname,
                    beforeSend: function (request) {
                        request.setRequestHeader('X-CSRF-TOKEN', window.csrfToken);
                    }
                }).done(() => {
                    console.log('saved');
                }).fail(() => {
                    console.log('failed');
                });
            },
            clearSequence() {
                //TODO: change in vuex
            },
            togglePad(row_id, step_index) {
                if (this.clicked === false) return;
                let on = this.clicked === 0;
                let row_index = row_id - 1;
                this.$store.commit('updateSequence', {step_index: step_index, row_index: row_index, on: on})
            },
            mouseDown($event, row_id, step_id) {
                this.clicked = $event.button;
                this.togglePad(row_id, step_id);
            },
            mouseUp() {
                this.clicked = false;
            },
            mouseEnter(row_id, step_id) {
                this.togglePad(row_id, step_id)
            },
            mouseOver(row_index, step_index) {
                this.setHighlight(row_index + 1, step_index + 1);
            },
            tableMouseOut() {
                this.setHighlight(null, null);
                this.mouse_button_pressed = null;
                this.clicked = false;
            },
            setHighlight(left, top) {
                this.highlighted.left = left
                this.highlighted.top = top;
            },
            isHighlighted(row_id, column_id) {
                if (row_id) return row_id == this.highlighted.left ? 'highlighted' : '';
                if (column_id) return column_id == this.highlighted.top ? 'highlighted' : '';
            },
            trackTableScroll(e) {
                this.left_offset = $(e.target).scrollLeft();
                this.$hidden_table.css({left: this.left_offset + 'px'});
            },
            leftOffsetStyle() {
                return this.left_offset > 0 ? `left:${this.left_offset}px` : '';
            }
        }
    }
</script>