<template>
    <div class="tutorial-track-controls-wrapper p-3">
        <font-awesome-icon icon="play" class="action-button" @click="playTrack()"></font-awesome-icon>
        <font-awesome-icon icon="stop" class="action-button" @click="stopTrack()"></font-awesome-icon>
    </div>
</template>

<script>
    export default {
        name: "TutorialTrackControls",
        methods: {
            playTrack() {
                console.log('play track');
                this.$root.$emit('tutorial.play');
            },
            stopTrack() {
                console.log('stop track');
                this.$root.$emit('tutorial.stop');
            },
            pauseTrack() {
                console.log('stop track');
                this.$root.$emit('tutorial.pause');
            }
        }
    }
</script>

<style scoped>

</style>