<template>
    <div class="tutorial-controls-wrapper">
        <div class="tutorial-controls-block d-flex justify-content-between">
            <div class="tutorial-control">
                <label for="app-list" class="tutorial-control__label">App name</label>
                <div class="form-group">
                    <select name="" id="app-list" class="tutorial-control__select form-control" @change="appListChanged" v-model="app_id">
                        <option v-for="(app) in app_list" :value="app.id" v-text="app.title"></option>
                    </select>
                </div>
            </div>
            <div class="tutorial-control">
                <label for="preset-list" class="tutorial-control__label">Preset</label>
                <div class="form-group">
                    <select name="" id="preset-list" class="tutorial-control__select form-control">
                        <option v-for="(preset) in preset_list" :value="preset.id" v-text="preset.name"></option>
                    </select>
                </div>
            </div>
            <div class="tutorial-control">
                <step-select :steps="step_list" ref="steps">
                    <div>
                        <label for="steps-list" class="tutorial-control__label">Steps</label>
                        <div class="form-group">
                            <select id="steps-list" class="form-control"></select>
                        </div>
                    </div>
                </step-select>
            </div>
            <div class="tutorial-control">
                <label for="bpm-control" class="tutorial-control__label">Bpm</label>
                <div class="form-group">
                    <input id="bpm-control" type="number" name="bpm" class="tutorial-control__input tutorial-control__bpm form-control" v-model.number="bpm">
                </div>
            </div>
            <div class="tutorial-control tutorial-control-buttons">
                <label class="tutorial-control__label">Controls</label>
                <div class="form-group">
                    <button class="btn btn-primary tutorial-control__button" @click.prevent="reloadSequence()">Reload</button>
                    <button class="btn btn-default tutorial-control__button" @click.prevent="clearTrackTable()">Clear</button>
                    <button class="btn btn-success tutorial-control__button" @click.prevent="saveTutorial()">Save</button>
                </div>
            </div>
            <div class="tutorial-control tutorial-control-loop">
                <label class="tutorial-control__label">Loop</label>
                <div class="form-group">
                    <button class="btn btn-default tutorial-control__button">Setup</button>
                    <button class="btn btn-default tutorial-control__button">Remove</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex';

    export default {
        name: "TutorialTopControls",
        created() {
            this.bpm = window.TUTORIALS.current_tutorial.bpm;
        },
        computed: {
            ...mapGetters(['app_list', 'preset_list', 'step_list', 'app_id', 'tutorial']),
            bpm: {
                get() {
                    return this.$store.getters.tutorial.bpm;
                },
                set(value) {
                    this.$store.commit('setBpm', value);
                }
            },
            app_id: {
                get() {
                    return this.$store.getters.app_id;
                },
                set(value) {
                    this.$store.dispatch('setAppId', value);
                }
            }
        },
        data() {
            return {};
        },
        created() {
            this.$store.dispatch('initAppList', window.TUTORIALS.apps);
            this.$store.dispatch('initPresetList', window.TUTORIALS.initial_preset_list);
            this.$store.dispatch('initStepList', window.TUTORIALS.steps);
            this.$store.dispatch('setAppId', window.TUTORIALS.app_id);
        },
        methods: {
            clearTrackTable() {
                this.$root.$emit('tutorial.clear');
            },
            saveTutorial() {
                this.$root.$emit('tutorial.save');
            },
            reloadSequence() {
                this.$root.$emit('tutorial.reload');
            },
            appListChanged() {
                this.$store.dispatch('loadPresetList', this.app_id);
            }
        }
    }
</script>

<style scoped>

</style>