// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pads-block {
  width: 500px;
  .pad-wrapper {
    display: inline-block;
    .pad {
      width: 160px;
      height: 160px;
      background-size: contain;
      padding: 12px 20px 0 17px;
      & > * {
        margin-top: 6px;
      }
      &[data-bg=orange] {
        background-image: url('/images/orange_pressed.png');
      }
      &[data-bg="blue"] {
        background-image: url('/images/blue_pressed.png');
      }
      &[data-bg=pink] {
        background-image: url('/images/pink_pressed.png');
      }
      &[data-bg=green] {
        background-image: url('/images/green_pressed.png');
      }
    }
  }
}

.player-list-container {
  #player-view-modal {
    table {
      width: 100%;
      td {
        height: 40px;
      }
    }
  }

}

td {
  .action-column {
    width: 1%;
  }
  a {
    color: black;
  }
  svg[data-icon] {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  svg[data-icon] + svg[data-icon] {
    margin-left: 5px;
  }
}

.tutorials-container {
  .tutorial-track-controls-wrapper {
    .action-button{
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
  .tutorial-controls-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    .tutorial-controls-block {
      min-width: 1110px;
      background-color: #6495ed;
      padding: 8px;
      border: 1px solid #fff;
      border-radius: 5px;
      white-space: nowrap;
      .tutorial-control {
        background-color: #f0f8ff;
        padding: 8px;
        border: 1px solid #fff;
        border-radius: 5px;
        min-width: 98px;
        &.tutorial-control-buttons {
          min-width: 220px;
        }
        &.tutorial-control-loop {
          min-width: 166px;
        }
        & + .tutorial-control {
          margin-left: 10px;
        }
        &__label {
          font-weight: bold;
        }
        &__bpm {
          width: 80px;
        }
        &__steps {
          width: 80px;
        }
      }
    }
  }
  .track-table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    .hidden-table {
      position: absolute;
      z-index: 1;
    }
    .track-table,
    .hidden-table {
      border-collapse: collapse;
      width: auto;
      td {
        border: 1px solid #d3d3d3;
        min-width: 28px;
        width: 28px;
        height: 45px;
        cursor: pointer;
        padding: 0;
        position: relative;
        .pad {
          width: 18px;
          height: 34px;
          background-color: #0bff29;
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.74);
          border-radius: 10%;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -17px 0 0 -9px;
        }
      }
      th {
        width: 28px;
        min-width: 28px;
        height: 45px;
        padding: 0;
        text-align: center;
        border: 1px solid #d3d3d3;
        background-color: #f08080;
        &.highlighted {
          background-color: #eae5e5;
        }
      }
    }
  }
}